.Product {
  border: 2px solid cornflowerblue;
  width: 250px;
}

.Product-normal-price {
  text-decoration: line-through;
}

.Product-discounted-price {
  font: 25px bold;
  color: red;
}

.Product-image {
  height: 50px;
  width: 50px;
}